<!DOCTYPE html>
<html>
<head><meta charset="utf-8"><link rel="stylesheet" href="/static/style.css"></head>
<body>
<h3>客戶資料（北/中/南）</h3>
<div id="north"><h4>北區</h4><ul></ul></div>
<div id="central"><h4>中區</h4><ul></ul></div>
<div id="south"><h4>南區</h4><ul></ul></div>
<script>
function load(){
 fetch('/api/customers/list').then(r=>r.json()).then(d=>{
  north.querySelector('ul').innerHTML='';
  central.querySelector('ul').innerHTML='';
  south.querySelector('ul').innerHTML='';
  d.items.forEach(i=>{
    let li=document.createElement('li'); li.innerText=i.name;
    if(i.region==='北區') north.querySelector('ul').appendChild(li);
    else if(i.region==='中區') central.querySelector('ul').appendChild(li);
    else south.querySelector('ul').appendChild(li);
  })
 })
}
load();
</script>
</body>
</html>
