
<!DOCTYPE html><html><head><meta charset="utf-8">
<link rel="stylesheet" href="/static/style.css"></head>
<body>
<div class="card"><h3>客戶分類</h3></div>
<div class="card"><h4>北區</h4><ul id="n"></ul></div>
<div class="card"><h4>中區</h4><ul id="c"></ul></div>
<div class="card"><h4>南區</h4><ul id="s"></ul></div>
<script>
function load(){
 fetch('/api/customers').then(r=>r.json()).then(d=>{
  n.innerHTML=''; c.innerHTML=''; s.innerHTML='';
  d['北區'].forEach(x=>{let li=document.createElement('li');li.innerText=x;n.appendChild(li)});
  d['中區'].forEach(x=>{let li=document.createElement('li');li.innerText=x;c.appendChild(li)});
  d['南區'].forEach(x=>{let li=document.createElement('li');li.innerText=x;s.appendChild(li)});
 })
}
setInterval(load,3000); load();
</script>
</body></html>
