
<html><head><link rel="stylesheet" href="/static/style.css"></head>
<body>
<div class=card>
<input id=n placeholder=商品><input id=q placeholder=數量>
<button class=btn onclick=add()>新增</button>
</div>
<ul id=l></ul>
<script>
function add(){
fetch('/api/inv/add',{method:'POST',headers:{'Content-Type':'application/json'},
body:JSON.stringify({n:n.value,q:parseInt(q.value)})}).then(load)
}
function load(){
fetch('/api/inv/list').then(r=>r.json()).then(d=>{
l.innerHTML=''
d.d.forEach(i=>{
let li=document.createElement('li')
li.innerText=i[0]+'('+i[1]+') ['+i[2]+']'
l.appendChild(li)
})
})
}
setInterval(load,2000)
load()
</script>
</body></html>
